<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/BP-Common.css" />
    <link rel="stylesheet" type="text/css" href="css/RedisInterface.css"/>
    <link rel="stylesheet" type="text/css" href="css/vs.css"/> <!-- highlight.js styling -->

    <script src="js/BP-AJAX.js" asp-append-version="true"></script>
    <script src="js/BP-Common.js" asp-append-version="true"></script>
    <script src="js/RedisInterface.js" asp-append-version="true"></script>
    <script src="js/highlight.pack.js" asp-append-version="true"></script> <!-- highlight.js JavaScript -->
    
    <title>@ViewData["Title"]</title>
</head>

<body>
    @RenderBody()
</body>
</html>