@model IEnumerable<string>

@{
    ViewData["Title"] = "Redis Cache Interface";
}

<div id="keysPane">
    <div id="valuePane">
        <div id="closeButton">&nbsp;&times;&nbsp;</div>
        <div id="keyContainer">
            <div id="keyValueHeaderContainer">
                <h1 id="keyValueHeader"></h1>
            </div>
            <pre>
                <code id="keyValue"></code>
            </pre>
        </div>
    </div>
    <table>
        <tr>
            <th>Key</th>
        </tr>
       
        @foreach(var key in Model)
        {
            <tr>
                <td class="cacheKey" title="@key">@key</td>
            </tr>
        }
    </table>
</div>